*.pyc
__pycache__
venv/
.idea/
.env
local_settings.py
*.session
*.session-journal
media/
.ssh/id_rsa*
.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

docker-compose.override.yml

dump.sql
